@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Matangi:wght@300..900&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  overflow-x: hidden;
  position: relative;
}